/* Adapted from least CSS by [The Cascade](https://thecascade.dev/article/least-amount-of-css/) */

/*General styling*/

* {
	margin: 0;
	padding: 0;
}

html {
	color-scheme: dark light;
	min-height: 100vh;
}

body {
	font-family: system-ui;
	font-size: 1.25rem;
	line-height: 1.5;
	min-height: 100vh;
}

img,
svg,
video {
	max-width: 100%;
	display: block;
}

main {
	max-width: min(70ch, 100% - 4rem);
	margin-inline: auto;
}

/*Buttons*/

.primary-btn {
	width: 100%;
	height: 55px;
	background-color: var(--primary-blue);
	color: var(--white);
	box-shadow: 0 6px 7px 0 var(--shadow);
	border: 0;
	outline: 0;
	border-radius: 10px;
	font-size: 20px;
}

/*Navbar*/

nav {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding: 0;
	height: 3rem;
}

nav a {
	padding: 0 0.5rem 0 0.5rem;
}

/*Forms*/

.form-header {
	margin-bottom: 40px;
	font-size: 55px;
	font-weight: 600;
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
	gap: 5px;
}

.form-input {
	height: 50px;
	padding: 5px;
	margin-top: 0.25rem;
	font-size: 20px;
}

label {
	font-size: 25px;
}

/* Authentication forms*/

.auth-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 450px;
	width: 90%;
	margin: auto;
}

.auth-form button {
	width: 100%;
	padding: 0.75rem;
	margin-top: 1rem;
}

/*Login page*/

.login-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	max-width: 100%;
	min-height: 92.15vh;
}

.login-banner {
	width: 100%;
	height: 100%;
	background-image: url("/public/images/banner.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Responsive to stack on smaller screens */
@media (max-width: 1100px) {
	.login-container {
		grid-template-columns: 1fr;
	}

	.login-banner {
		display: none;
	}
}

.error-banner {
	background-color: "rgba(255, 0, 0, 0.1)";
	border: "1px solid red";
	border-radius: "4px";
	color: "red";
	margin-bottom: "1rem";
	padding: "0.5rem";
}
