/* Adapted from least CSS by [The Cascade](https://thecascade.dev/article/least-amount-of-css/) */

/*General styling*/

* {
	margin: 0;
	padding: 0;
}

html {
	color-scheme: dark light;
	min-height: 100vh;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

html[data-theme="light"] {
	color-scheme: light;
}

body {
	background-color: var(--background);
	font-family: system-ui;
	font-size: 1.25rem;
	line-height: 1.5;
	min-height: 100vh;
}

img,
svg,
video {
	max-width: 100%;
	display: block;
}

main {
	max-width: min(70ch, 100% - 4rem);
	margin-inline: auto;
}

/*Headers*/

.page-title {
	color: var(--text);
}

/*Buttons*/

.primary-btn {
	width: 100%;
	height: 55px;
	background-color: var(--primary-blue);
	color: var(--white);
	box-shadow: 0 6px 7px 0 var(--shadow);
	border: 0;
	outline: 0;
	border-radius: 10px;
	font-size: 20px;
}

.navbar-button {
	background-color: var(--primary-blue);
	color: var(--white);
	box-shadow: 0 6px 7px 0 var(--shadow);
	border: 0;
	outline: 0;
	border-radius: 10px;
	font-size: 1rem;
	padding: 0.75rem 2rem;
}

/*Navbar*/

nav {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding: 0;
	height: 3rem;
}

nav a {
	padding: 0 0.5rem 0 0.5rem;
}

/*Forms*/

.form-header {
	margin-bottom: 40px;
	font-size: 55px;
	font-weight: 600;
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
	gap: 5px;
}

.form-input {
	height: 50px;
	padding: 5px;
	margin-top: 0.25rem;
	font-size: 20px;
}

label {
	font-size: 25px;
}

/* Authentication forms*/

.auth-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 450px;
	width: 90%;
	margin: auto;
}

.auth-form button {
	width: 100%;
	padding: 0.75rem;
	margin-top: 1rem;
}

/*Login page*/

.login-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	max-width: 100%;
	min-height: 92.15vh;
	color: var(--text);
}

.login-banner {
	width: 100%;
	height: 100%;
	background-image: url("/public/images/banner.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Responsive to stack on smaller screens */
@media (max-width: 1100px) {
	.login-container {
		grid-template-columns: 1fr;
	}

	.login-banner {
		display: none;
	}
}

.error-banner {
	background-color: rgba(255, 0, 0, 0.1);
	border: 1px solid red;
	border-radius: 4px;
	color: red;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

/* Navbar */
.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.search-component-button {
	border: 2px solid black;
	border-radius: 8px;
	/* background-color: white; */
	margin: 5px;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
}
.filter-button {
	border: 2px solid black;
	border-radius: 8px;
	font-size: 1rem;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 12rem;
	max-width: calc((100vw - 15rem - 15px) / 3);
	/* background-color: white; */
	padding: 0.6rem 1.2rem;
	display: flex;
	justify-content: center;
}

.sort-by-button {
	border: 2px solid black;
	margin: 5px;
	min-width: 12.5rem;
}

.search-bar-input {
	margin: 5px;
	width: 30rem;
	max-width: calc(100vw - 30rem);
	border: 2px solid black;
	/* Below is inherited from the default button styling, to keep visual consistency */
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	border-radius: 8px;
}

.category-header {
	list-style-type: none;
	color: white;
	/* CSS doesnt have text-outline stylings, this is a hacky way to do it anyways */
	text-shadow:
		1.5px 1.5px 0px black,
		-1.5px -1.5px 0px black,
		1.5px -1.5px 0px black,
		-1.5px 1.5px 0px black;

	/* Below is inherited from the default button styling, to keep visual consistency */
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	align-items: center;
	justify-self: center;
}

.filters-dropdown-container {
	background-color: gray;
	border-radius: 8px;
	border: 2px solid black;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 45rem;
	max-width: calc(100vw - 15rem);
	/* TODO: make this animate nicely */
}

.sort-dropdown-container {
	background-color: gray;
	border-radius: 8px;
	border: 2px solid black;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	justify-self: center;
	width: 13rem;
}

.highlight {
	border: 2px solid blue;
}

.filters-display {
	display: flex;
	flex-wrap: wrap;
	width: 45rem;
	max-width: calc(100vw - 15rem);
}

.navbar {
	padding: 1rem;
	border-bottom: 1px solid var(--shadow);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-section {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-shrink: 0;
}

.navbar-logo {
	height: 4.5rem;
	flex-shrink: 0;
}

.navbar-image {
	height: 3rem;
	flex-shrink: 0;
}

.navbar-profile-pic {
	height: 4rem;
}

.navbar-username {
	color: var(--primary-blue);
	font-weight: 600;
}

.flex {
	display: flex;
}

.clear-button-stylings {
	background: none;
	border: none;
	cursor: pointer;
}

.dark-light-toggle {
	position: relative;
	width: 4.5rem;
	height: 2rem;
	background: linear-gradient(to right, white, black);
	border-radius: 0.5rem;
	border: 1px solid gray;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	padding: 0 4px;
}

/* The circle that changes position */
.toggle-thumb {
	width: 2rem;
	height: 2rem;
	background: white;
	border-radius: 50%;
	border: 1px solid gray;
	position: absolute;
	transition: all 0.3s ease;
	/* to put the button above whatever its hovering over */
	z-index: 2;
	left: 4px;
}

.dark-light-button[aria-checked="true"] .toggle-thumb {
	transition: left 0.3s ease;
	left: calc(100% - 2rem - 4px);
}

.sun-icon,
.moon-icon {
	font-size: 14px;
	z-index: 1;
}

.sun-icon {
	margin-right: auto;
	color: var(--black);
	font-size: 1.5rem;
}

.moon-icon {
	margin-left: auto;
	height: 1rem;
}

.clear-a-stylings {
	text-decoration: none;
	color: inherit;
}

/* Search bar/filter styling */

.center {
	justify-content: center;
}

.search-component-button {
	border: 2px solid black;
	border-radius: 8px;
	margin: 5px;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
}

.filter-button {
	border: 2px solid black;
	border-radius: 8px;
	font-size: 1rem;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 12rem;
	padding: 0.6rem 1.2rem;
	display: flex;
	justify-content: center;
}

.sort-by-button {
	border: 2px solid black;
	margin: 5px;
	min-width: 12.5rem;
}

.search-bar-input {
	margin: 5px;
	width: 30rem;
	max-width: 40vw;
	border: 2px solid var(--black);
	/* Below is inherited from the default button styling, to keep visual consistency */
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	border-radius: 8px;
}

.category-header {
	list-style-type: none;
	color: var(--white);
	/* CSS doesnt have text-outline stylings, this is a hacky way to do it anyways */
	text-shadow:
		1.5px 1.5px 0px var(--black),
		-1.5px -1.5px 0px var(--black),
		1.5px -1.5px 0px var(--black),
		-1.5px 1.5px 0px var(--black);

	/* Below is inherited from the default button styling, to keep visual consistency */
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	align-items: center;
	justify-self: center;
}

.dropdown-container {
	background-color: gray;
	border-radius: 8px;
	border: 2px solid var(--black);
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	/* TODO: make this animate nicely */
}

.sort-dropdown-container {
	background-color: gray;
	border-radius: 8px;
	border: 2px solid var(--black);
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	justify-self: center;
	width: 13rem;
}

.highlight {
	border: 2px solid var(--primary-blue);
}

.filter-label {
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	border: 2px solid var(--black);
	border-radius: 8px;
	/* background-color: var(--white); */
	margin: 5px;
	width: 8rem;
	display: flex;
	justify-content: center;
}

.test-class {
	border: 10px solid var(--primary-blue);
}

.sort-by-label {
	min-width: 13rem;
	white-space: nowrap;
}

.query-header {
	color: var(--search-page-header);
	font-size: 2rem;
	position: relative;
}

.alignment-container {
	width: 60rem;
	max-width: calc(100vw - 5rem);
	display: flex;
	flex-direction: column;
	justify-content: right;
}

.overall-container {
	width: 100%;
	display: flex;
}

.back-button {
	font-size: 1.5rem;
	width: 2.3rem;
	border: 0.2rem var(--black-white) solid;
	border-radius: 2rem;
	margin-right: 1rem;
	align-items: center;
	justify-content: center;
	display: flex;
}

.back-button-container {
	display: flex;
	align-items: center;
	margin: 2rem 0;
	font-weight: 600;
}

.game-card-gallery {
	display: flex;
	flex-wrap: wrap;
}

.text-outline {
	/* CSS doesnt have text-outline stylings, this is a hacky way to do it anyways */
	text-shadow:
		1.5px 1.5px 0px var(--black-white),
		-1.5px -1.5px 0px var(--black-white),
		1.5px -1.5px 0px var(--black-white),
		-1.5px 1.5px 0px var(--black-white);
}

/* home page css */
main {
	max-width: 100%;
}

.spotlight {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
}

.spotlight-game-card {
	width: min(1000px, 95vw);
	background: white;
	border-radius: 16px;
	padding: 20px;
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	align-items: start;
	gap: 20px;
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}
