/* Please refer to the Design Guidelines in the wiki prior to using these */

:root {
	/* Colour variables (for use with both)	*/
	--primary-blue: #11167b;
	--search-page-header: #3531a7;
	--bg-white: #f5f5f5;
	--grey-border: #aeaeae;
	--white: #ffffff;
	--black: #000000;

	/* Colour variables (dark mode) */
	html[data-theme="dark"] {
		--primary-blue: #7eb0db;
		--background: #1c1c1c;
		--grey-border: #cecece;
		--shadow: #5c5c5c35;
		--text: #ffffff;
		--contrast-text: #000000;
		--black-white: #ffffff;
		--search-page-header: #ffffff;
	}

	/* Colour variables (light mode) */
	html[data-theme="light"] {
		--primary-blue: #11167b;
		--background: #f5f5f5;
		--grey-border: #aeaeae;
		--shadow: #00000025;
		--text: #000000;
		--contrast-text: #ffffff;
		--black-white: #000000;
	}
}
